.home-container{
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;

 }
 body{
  background-color: var(--primary-dark-brown);
  color: var(--light-white-yellow);
 }

 .home-container h1{
  font-size: 70px;
  width: 100%;
  text-align: center;
  font-family:  Outfit, sans-serif;

 }
 .home-container p .span{
  font-family: sans-serif;
  font-weight: bold; 
  background: linear-gradient(to right,#f48d0c,#fab025);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 5px #f48d0c;
  width: 100%;
  text-align: center;
 }
 .home-container p{
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  font-family: sans-serif;
  color: var(--light-white-yellow);
 }  
 .search{
  width: 50%;
  margin:20px auto; 
 }
 .search input{
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
   border: 1px solid black;
   border-radius: 5px;
  
 }
 .search input:focus{
  outline:  2px solid var(--secondary-light-yellow);
  border: none;
  border-radius: 5px;
 }
 .home-container h2{
  color: var(--light-white-yellow);
  text-align: center; 
 }
 .home-container h2::after{
  display: block; 
  margin: 0px auto;
  content: '';
  width: 150px;
  height: 2px;
  background: linear-gradient(to left,#f48d0c,#fab025);
  box-shadow: 0px 0px 5px #f48d0c;
 }