 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.settings-container {
    display: flex;
    margin: 100px 0 0;
}

/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 2px solid;
    padding: 10px;
}
.sidebar h2{
    color: var(--color-10);
    text-align: center;
}

.sidebar p {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right,var(--color-5),var(--color-6));
    box-shadow: 0px 0px 5px var(--color-3);
    color: var(--color-1);
}

/* FORM */
form {
    flex: 1;
    display: flex;
}

/* MAIN AREA INSIDE FORM */
form .main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* LEFT SIDE (PROFILE) */
.main-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-10);
    margin-bottom: 10px;
}

.main-profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--color-3);
    cursor: pointer;
    border: 2px solid var(--color-2);
}

 

/* RIGHT SIDE (INPUTS) */
.main-profile2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-profile2 .header-input {
    display: flex;
    width: 100%;
    gap: 10px;

}

.main-profile2 input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid var(--color-10);
    background-color: white;
    outline: none;
}

.main-profile2 textarea {
    width: 100%;
    padding: 7px;
}

.main-profile2 p {
    text-align: start;
    color: var(--color-10);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INPUT GENERAL */
form input {
    border: 2px solid var(--color-10);
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.header-input input {
    border: 2px solid var(--color-10);
    border-radius: 10px;
    outline: none;
    width: 100%;
    background-color: white;
    width: 100%;
}

.social-media {
    display: flex;
    width: 100%;
}

.social-media input {
    outline: none;
    width: 100%;
    margin: 10px 0;
}
.input-file{
    display: none;
}