
 .header-container{
  width:100%;
  height: 70px;
  box-shadow: 0px 0px 5px #451503;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(to bottom,#772e10,#451503)
  /* border-bottom: 2px solid var(--light-white-yellow); */

 }
  .info{
  display: flex;
  align-items: center;
  gap: 15px;

 } 
 .home,.about,.blogs{
    text-decoration: none;
    color: white;
 }
 .home.active,
 .about.active,
 .blogs.active {
    color: #f48d0c;
    text-shadow: 0px 0px 5px #f48d0c;
    /* box-shadow: 0px 0px 5px #f48d0c; */
 }
  .signin{
  width: fit-content;
  border: none;
  padding: 10px 25px;
  background-color:  rgba(255, 68, 0, 0.84);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
 }
 
.content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
 .border-wrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 20px;
  background: linear-gradient(to left, #f48d0c, #fab025);
  box-shadow: 0px 0px 10px #fab025;
}

.create-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background: linear-gradient(to right,#f48d0c,#fab025);
  color: #451503;
  cursor: pointer;
}
.create-content:hover{
    /* background-color:rgba(0, 110, 179, 0.571) ;  */
    color: black;
}
.profile{
    font-size: 50px !important;
    cursor: pointer;
}
.profile-lists{
    position: relative; 
}
.uls{ 
    display: none;
    position: absolute; 
    /* border: 1px solid; */
    border-radius: 5px;
    top: 0px; 
    right: 50px;
    background:linear-gradient(to bottom,#b3470a,#cf6407);
    color: white; 
    backdrop-filter: blur(10px);
     

}
.uls ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
     list-style: none;
     width: 200px;
     padding: 10px;
     height: fit-content;
    

}
.uls ul li{
     padding: 10px;
      font-weight: bold;
      cursor: pointer;
}
.uls ul li:hover{  
    background:linear-gradient(to right,#fcdd8b,#feefc7);
    color: #451503;
    border-radius: 5px;
   

}
.profile-lists:hover .uls{
    display: flex;
}
 
 