
 .header-container{
  width:100%;
  height: 70px;
  box-shadow: 0px 0px 5px rgb(128, 128, 128);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;

 }
  .info{
  display: flex;
  align-items: center;
  gap: 15px;

 }
  .info span{
  font-size: 20px;
  font-family:sans-serif;
  color: rgb(70, 69, 69);
  cursor: pointer;
 }
 .home,.about,.blogs{
    text-decoration: none;
    color: black;
 }
 .home.active,
 .about.active,
 .blogs.active {
    color: tomato;
 }
  .signin{
  width: fit-content;
  border: none;
  padding: 10px 25px;
  background-color:  rgba(255, 68, 0, 0.84);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
 }
 
.content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-content{
    border: 2px solid rgba(0, 0, 0, 0.484);  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.422);
    color: white;
    
}
.create-content:hover{
    background-color: rgba(255, 0, 0, 0.126);
    /* border: 2px solid tomato;  */
    color: black;
}
.profile{
    font-size: 50px !important;
    cursor: pointer;
}
.profile-lists{
    position: relative; 
}
.uls{ 
    display: none;
    position: absolute; 
    border: 1px solid;
    border-radius: 5px;
    top: 30px; 
    right: 30px;
    background-color: white;
     

}
.uls ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
     list-style: none;
     width: 200px;
     padding: 10px;
     height: fit-content;
    

}
.uls ul li{
     padding: 10px;
      font-weight: bold;
      cursor: pointer;
}
.uls ul li:hover{  
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
   

}
.profile-lists:hover .uls{
    display: flex;
}
 
 