 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    width: fit-content;
    place-self: center;
}
h2 input{
    padding: 10px;
    width: 500px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid  rgba(6, 97, 158, 0.719);
    border-radius: 5px;
    outline: none;
}
 
textarea{
    padding: 10px;
    border: 2px solid  rgba(6, 97, 158, 0.719);
    outline: none;
    border-radius: 10px;
}
 
 form .image img{
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
.image{
    cursor: pointer;
    border: 2px solid rgba(6, 97, 158, 0.719);
    border-radius: 10px;
    width: fit-content;
    
}
form button{
    background-color: rgba(7, 77, 151, 0.765);
}