 .content{
    width: 100%;
 }
 .content form{
    width: 50%;
    place-self: center;
 }
 form .ql-toolbar{
    display: flex;
    flex-direction: row;
    width: 100%;
 }
 form .quill{
    width: 100%;
    min-height: 300px;
 }
 .ql-editor{ 
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    width: 100%;
    min-height: 300px; 
    font-size: 18px;
 }
 form .ql-container{
    width: 100%; 
    overflow-x: hidden;
    min-height: 300px;
 } 
 .container{
    width: 100%;
 }
 .headers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }
 .headers h2,input{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgba(9, 68, 151, 0.74);
    border-radius: 10px;
    outline: none;
 }
 .headers img{
    width: 50%;
    height: 300px;
    cursor: pointer;
 }
 .headers #input-file{
    display: none;
 }
 .container h2{
    width: 50%;
    place-self: center;
    margin-top: 10px;
 }

