*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
    width: 90% !important;
    place-self: center;
    display: flex;
}
.each-content-container{
    max-width: 300px;
    /* border: 2px solid green; */
    margin: 10px; 
    box-shadow: -1px 1px 3px black ;
    border-radius: 10px;
}
.each-content-container h1,.quill{
    width: 100%;
    text-align: center;
   
}
.each-content-container .quill{
    color: rgba(0, 0, 0, 0.311);
    margin: 10px 0px;
}
.content-image {
    position: relative;
}
.content-image p{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    object-fit: cover;
    object-position: center;
}
.each-content-container .content-image img{
    width: 300px;
    height: 150px;
    border-radius:  10px 10px 0px 0px;
}
.each-content-container hr{
    width: 80%; 
    place-self: center;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.358);
}
.preview {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of visible lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.blog-profile {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 5px 10px;
    margin: 10px;
}
.blog-profile p{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.473);
}
.blog-profile .profile-AccountBoxIcon{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.651);
}
.love-comment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 5px;
}