*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 
.login-page{
    margin: 0;
    display: flex;
    justify-content: center;  
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh; 
    
}
 

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 30%;
    height: fit-content;
    box-shadow: 3px 3px 10px black; 
    margin-top: 10px;
    border-radius: 5px;
    gap: 10px;
    background-color: white;

    
}
form .login-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
form .login-header .login-title{
    width: fit-content;
    display: flex;
    align-items: center;
}
form .login-header p{
    cursor: pointer;
}

form div{
     
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 80%;
}
form div p{
    text-align: start;
    font-weight: 350;
    
}
form div input{
    padding: 5px 10px;
    font-size: px;
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid;
     
}
form div input:focus{
    border: none;
    outline: 2px solid green;
    border-radius: 3px;
}
form .checkbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
form .checkbox input{
    width: fit-content;
}
form .checkbox input:focus{
    border: none;
    outline: none;
}
form button{
    width: 100%;
    background-color: tomato;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
form  span{
    color: tomato;
    cursor: pointer;
}
