 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 /* .body{
  position: relative;
 } */

 .header-container{
  width:100%;
  height: 70px;
  box-shadow: 0px 0px 5px rgb(128, 128, 128);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;

 }
 .info{
  display: flex;
  align-items: center;
  gap: 15px;

 }
 .info span{
  font-size: 20px;
  font-family:sans-serif;
  color: rgb(70, 69, 69);
  cursor: pointer;
 }
 .info span:hover{
  color: red;
 }
 .signin{
  border: none;
  padding: 10px 25px;
  background-color:  rgba(255, 68, 0, 0.84);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
 }




 .home-container{
  display: flex;
  flex-direction: column;
  padding: 50px 0;

 }
 .home-container h1{
  font-size: 70px;
  width: 100%;
  text-align: center;
  font-family:  Outfit, sans-serif;

 }
 .home-container span{
  font-family: sans-serif;
  font-weight: bold;
  color: red;
  width: 100%;
  text-align: center;
 }
 .home-container p{
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.527);
 }
 .twinButtons{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

 }
 .twinButtons button{
  border: none;
  padding: 20px 40px;
  font-size: 16px;
  font-weight:  bold;
 }
 .twinButtons .one{
  color: white;
  background-color:  rgba(255, 68, 0, 0.84);
  border-radius: 30px;
 }
 .twinButtons .two{
  color:  rgba(255, 68, 0, 0.84);
  border-radius: 30px;
   border: 2px solid  rgba(255, 68, 0, 0.84);
 }
 .twinButtons .two:hover{
  background-color:  rgba(255, 68, 0, 0.094);
  cursor: pointer;
 }
 .twinButtons .one:hover{
  background-color:  rgb(255, 68, 0);
  cursor: pointer;
 }


 .search{
  width: 50%;
  margin: 50px auto;
 }
 .search input{
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
   border: 1px solid black;
   border-radius: 5px;
  
 }
 .search input:focus{
  outline:  2px solid rgba(255, 68, 0, 0.84);
  border: none;
  border-radius: 5px;
 }
 .allBlogs-container{

 }
 .titleInfo{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;

 }
 .titleInfo h1,p{
  width: 100%;
  text-align: center;
 

 }
 .titleInfo p{
   font-family: sans-serif;
  color: rgba(0, 0, 0, 0.562);
 }
 .blogs-container{
  width:100%;
  display: flex;
  flex-wrap: wrap;
   align-items: center;
  justify-content: center;
  
  /* flex-wrap: wrap; */
  /* gap: 15px; */
 }
 .image-tittle{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.046);
  border-radius: 5px;
 
 }
 .image-tittle h3{
  color: rgba(1, 1, 255, 0.671);
  font-family: serif;
  display: flex;
  align-items: start;
  padding: 5px 0;
 }
 .image-tittle h1{
 font-family: monospace;
 padding: 5px 0;
 }
 .acount{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  height: fit-content;
  width: fit-content;
 }
 .nameAndDate{
  display: flex;
  flex-direction: column;
   padding: 5px 0;
   
 }
 .nameAndDate p{
  padding: 3px 0;
  width: 100%;
  text-align: start;
  font-weight: bold;

 }
 .footer{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 15px;
  /* padding: 20px; */
  
 }
 .footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 92, 165);
  padding: 30px;
 }
 
  .list-one,
  .list-two,
  .list-three,
  .list-four{
    width: 300px;
    height: fit-content;
    /* border: 2px solid black; */
    padding: 15px;
  }
   .list-one h3,
  .list-two h3,
  .list-three h3,
  .list-four h3{
    color: white;
    font-weight: 600;
    padding: 10px 0;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
  }

 .list-one ul li,
  .list-two ul li,
  .list-three ul li,
  .list-four ul li{
    list-style: none;
    padding: 5px;
    color: white;
    font-weight:  500;
    font-family: Arial, Helvetica, sans-serif;
  }
  .rights{
    color: rgba(255, 255, 255, 0.74);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .rights span{
    color: white;
    font-weight: bold;
  }
  .about-container{
    display: flex;
    flex-direction: column;
  }
  .about-container h1{
    /* display: flex; */
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .about-container h1 span{
    color: red;
    
    
  }
  .about-container p{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }
.home-container p span{
  color: red;
}
.about-container img{
  width: 70%;
  height: 400px;
  margin: 5px auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
 
  
}
 
 
 
 