 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 :root {
  --primary-light-brown: #af4425;
  --primary-dark-brown: #0D98BA;
  --secondary-light-yellow: #00B7EB;
  --light-white-yellow: #ebdcb2;
}
.App {
  padding-top: 80px; /* ensure the fixed header does not cover page content */
  min-height: 100vh;
  background-color: var(--primary-dark-brown);
}
.body{
  background-color: var(--primary-dark-brown);
}
 