*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-page{
    display: flex;
    margin: 100px 0 0 ;
}
.profile-blogs{ 
    width: 60%;
    border-right: 2px solid;  
    margin: 10px;
}
.profile-blogs h2{
    text-align: center;
    width: 100px;
    place-self: center;
}
.profile-blogs h2::after{
    display: flex;
    content: '';
    height: 2px;
    width: 100px;
    background-color:  rgba(0, 110, 179, 0.607);   
    place-self: center;
}
.profile-profile{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px; 
    gap: 10px;
}
.profile-profile img{ 
    border-radius: 50%;
    box-shadow: 3px 3px 5px;
    border: 2px solid rgba(0, 110, 179, 0.564);
}
.profile-profile p{
    padding: 5px;
}
.profile-profile .bio{
    width: 200px;
    text-align: start;
    padding: 0;
    height: 100px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 3px 7px;
    padding: 10px;
    border: 2px solid rgba(0, 110, 179, 0.555);
}
.profile-profile button{
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;

}
 
